{% extends 'base.html.twig' %}

{% block title %}Modifier mon rendez-vous{% endblock %}

{% block body %}
<style>
    
    
    @media (min-width: 200px) and (max-width: 1000px) {
        .border-form {
            width: 300px;
        max-height: 1000px;
        padding: 18px;
        }
        .h {
            height: 40rem;
        }
        .formW {
        flex : 0.1 1 auto;
    }
    .form-inline {
        flex : 1;
        flex-direction : row:
    }
    }

</style>
    <div class="col-12  col-sm-12 col-md-12 bc flex-center">
        <div class="border-form h d-flex flex-column formW">
            <h5 class=" mb-4 font-weight-normal">Modifier mon rendez-vous</h5>

            {{ form_start(form) }}
                {{ form_widget(form) }}
        
            <button class="btn btn-lg bc mt btn-sign-in align-self-center">{{ button_label|default('Modifier') }}</button>
            {{ form_end(form) }}
        </div>
    </div>

    
{% endblock %}
