{% extends 'header.html.twig' %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Salut {{ app.user.username }}! ✅</h1>

    <button class="btn btn-warning"> Modifier mes informations </button>

<h2>Commandes en cours :</h2>

<table>
  <tr>
    <th>Magasin</th>
    <th>Etat de la commande</th>
    <th>Prix</th>
  </tr>
  <tr>
    <td>Sephora</td>
    <td>En cours de préparation</td>
    <td>15,00€</td>
  </tr>
  <tr>
    <td>Sephora</td>
    <td>Prête</td>
    <td>35,00€</td>
  </tr>
  <tr>
    <td>Sephora</td>
    <td>Récupérée</td>
    <td>30,00€</td>
  </tr>
  <tr>
    <td>Sephora</td>
    <td>Récupérée</td>
    <td>64,00€</td>
  </tr>
  <tr>
    <td>Sephora</td>
    <td>Récupérée</td>
    <td>60,00€</td>
  </tr>
  <tr>
    <td>Sephora</td>
    <td>Récupérée</td>
    <td>12,00€</td>
  </tr>
</table>
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/xamppp/htdocs/MarketPlace/MarketPlace/src/Controller/MemberController.php'|file_link(0) }}">src/Controller/MemberController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/xamppp/htdocs/MarketPlace/MarketPlace/templates/member/index.html.twig'|file_link(0) }}">templates/member/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
