{% extends 'base.html.twig' %}

{% block body %}
<style>

    /* TABLES COMMANDE */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

</style>


    <body class="layout with-sidenav">
    <div id="example-sidenav" data-ax="sidenav" class="sidenav shadow-1 large fixed white">
    <div class="sidenav-header">
    <button data-target="example-sidenav" class="sidenav-trigger"><i class="fas fa-times"></i></button>
    <img class="sidenav-logo dropshadow-1" src="your_img_path" alt="Logo" />
    </div>
      <a href="{{ path('app_account')}}" class="sidenav-link">Mon compte</a>
      <a href="{{ path('app_account_edit')}}" class="sidenav-link">Modifier mon profil</a>
      <a href="{{ path('app_account_orders')}}" class="sidenav-link">Mes commandes</a>

    </div>

<div class="example-wrapper container">


<h2>Commandes en cours :</h2>

<table>
  <tr>
    <th>Magasin</th>
    <th>Etat de la commande</th>
    <th>Prix</th>
  </tr>
  <tr>
    <td>Sephora</td>
    <td>En cours de préparation</td>
    <td>15,00€</td>
  </tr>
  <tr>
    <td>Sephora</td>
    <td>Prête</td>
    <td>35,00€</td>
  </tr>
  <tr>
    <td>Sephora</td>
    <td>Récupérée</td>
    <td>30,00€</td>
  </tr>
  <tr>
    <td>Sephora</td>
    <td>Récupérée</td>
    <td>64,00€</td>
  </tr>
  <tr>
    <td>Sephora</td>
    <td>Récupérée</td>
    <td>60,00€</td>
  </tr>
  <tr>
    <td>Sephora</td>
    <td>Récupérée</td>
    <td>12,00€</td>
  </tr>
</table>

</div>
{% endblock %}