{% extends 'base.html.twig' %}

{% block title %}Hello CgdvController!{% endblock %}

{% block body %}

<div class="container">
<h1> Conditions générales d'utilisation </h1> 
<h3> Clause n° 1 : Objet </h3>
<p> Les conditions générales de vente décrites ci-après détaillent les droits et obligations de Click'N'Commerces et de son client dans le cadre de la mise en relation entre commerçant et client.
Toute réservation ou prise de rendez vous sur le présent site implique donc l'adhésion sans réserve de l'acheteur, vendeur ou autre utilisateur du site, aux présentes conditions générales de vente. 
Click'N'Commerce ne peut en aucun cas et ne sera jamais amené a facturer quelque service que ce soit. Et ces mêmes conditions générales d'utilisations sont soumises à acceptation sans réserve de tout utilisateur, 
tout vendeur ou acheteur déclarant utiliser les services de Click'N'Commerces. </p>

<h3> Clause N°1-1 : Utilisation des services Click'N'Commerces </h3> 
<p> Le commerçant s'engage à respecter la confidentialité des informations reçues via le site concernant tout utilisateur souscripteur des présentes conditions générales d'utilisation. Toute perte ou détournement d'identifiant ou de quelque information que ce soit au profit éventuel d'un quelquonque tiers est entière responsabilité de l'obtenteur des dites informations.
Le commerçant accepte sans réserve le référencement de toutes les informations qu'il déclare et en garte l'entière responsabilité. Chaque commerçant ou prestataire quelqu'il soit doit pouvoir utiliser le présent site dans les conditions légales que sont l'inscription et la validité, et de manière générale l'autorisation d'exercer et de vendre ou de proposer les services par l'administration Française.
</p>

<h3> Clause N°1-2 : Données </h3> 
<p> Le traitement de données personnelles sont stockés et ne sont ni vendues ni partagées en dehors du présent site. </p> 

<h3> Clause n° 2 : Prix </h2>
<p> Les prix des marchandises vendues sont ceux en vigueur au jour de la prise de commande. Ils sont libellés en euros et calculés toutes taxes appliquées.
Les commerçants inscrits et validés par Click'N'Commerces s'accordent le droit de modifier ses tarifs à tout moment. Toutefois, elle s'engage à facturer les marchandises commandées aux prix indiqués lors de l'enregistrement de la commande. </p>

<h3> Clause n° 2-1 : Rabais et ristournes </h3>
<p> Les tarifs proposés comprennent les rabais et ristournes que le commerçant serait amenée à octroyer compte tenu de ses résultats ou de la prise en charge par l'acheteur de certaines prestations. </p>

<h3> Clause n° 2-2 : Escompte </h3>
<p> Aucun escompte ne peut être constenti sur le site Click'N'Commerces car le dit site n'a d'autre vocation que la mise en relation et la réservation de commande à récupérer par voie de 'click and collect' </p>

<h3> Clause n° 2-3 : Modalités de paiement </h3>
<p> Le règlement des commandes s'effectue à convenance du commerçant ou du prestataire, et uniquement à la remise de la commande réservée sur Click'N'Collecte, le site prévoit la possibilité au commerçant ou au prestataire d'indiquer les moyens de paiement disponnible et acceptés sur place afin de remettre la commande du client :

Lors de l'enregistrement de la commande, l'acheteur ne peut en aucun cas être contraint à payer un acompte via notre site de quelque manière que ce soit. </p>

<h3> Clause n° 3 : Non retrait de la commande </h3>
<p> En cas de défaut de retrait ou partiel des marchandises préparées au jour de la réception prévue et demandée par l'acheteur, ou à défaut d'assiduité dans les rendez vous amiablement convenus, le commerçant ou prestataire se réserve le droit d'annuler la commande ou la prestation à compter de j+1 </p>

<h3> Clause n° 4 : Abus </h3>
<p> Le site Click'N'Commerces se réserve le droit de sanctionner les actes abusifs interferant à l'activité et la practicité du site. S'il est avéré que l'acheteur a de manière répétitive, réservé des commandes impliquant au commerçant de la préparation, voire la detérioration du dit produit de part la rupture d'une chaine de conservation, de type alimentaire, ou le déplacement d'un professionnel dont un créneau de réservation
avait été réservé et confirmé, nuisant ainsi à l'activité du dit professionnel, Click'N'Commerces se réserve le droit d'appliquer toute sanction sans préavis. </p>

<h3> Clause n° 5 : Responsabilité </h3>
<p> La responsabilité de Click'N'Commerces ne peut être engagé au delà de la mise en relation et de la fonctionnalité technique, et ce dans les cas décrit ci-dessous : </p>
<ul>
<li> Commerçant ou prestataire dont l'activité n'est pas autorisé </li>
<li>Déterioration des produits réservés et/ou non récupérés.</li>
<li>Absence de l'acheteur ou du souscripteur lors d'un rendez vous réservé. </li>
<li>Dommages sanitaires ou corporels relatif à la qualité ou composition des produits réservés.</li>
<li>Commande non conforme à la description sur le site Click'N'Commerces. </li>
<li>Prestation non conforme à la demande client, qu'elle soit payée ou non. </li>
<li> Fiabilité des informations transmises et diffusés </li>
<li>Moyen de paiement frauduleux. </li>

</ul>
<p> Click'N'Commerce ne peut intervenir dans la relation Client/Commerçant, qu'au seul bénéfice de la satisfaction client et générale du service proposé par Click'N'Commerce. Seul les défauts techniques du site peuvent être octroyés à la responsabilité du site en lui même ainsi que des failles de sécurité en découlant de manière directe. </p>

<h3> Clause N°5-1 : Engagements des parties </h3> 
<p> Les pouvoirs conférés aux commerçants et prestataires et plus largement à tout utilisateur du site pouvant publier et gérer des informations destinés à être lues et utilisées doivent garantir les droits d'utilisation (propriétés intellectuelles...)
Chaque utilisateur s'engage à ne diffuser : 
<ul>
<li> Aucun lien extérieur de quelque type que ce soit </li>
<li> N'avoir aucun autre but que d'utiliser le site aux fins pour lequelles il est prévu. </li>
<li> Aucune contenu promotionnel, publicitaire, pornographique, raciste, diffamatoire, mensonger ayant pour objectif de hurter ou d'induire en erreur les utilisateurs. </li>
</ul>
<h3> Clause n°6 : Tribunal compétent </h3>
<p> Tout litige relatif à l'interprétation et à l'exécution des présentes conditions générales de vente est soumis au droit français.
À défaut de résolution amiable, le litige sera porté devant le Tribunal de commerce de Marseille </p>

Fait à Marseille , 22 Janvier 2021</div>

{% endblock %}
