{% extends 'base.html.twig' %}


 {% block javascripts %}
 <script src="../public/assets/js/panier.js"></script> 
{% endblock %}
{% block body %}

	
    <p>Votre commande a été validée</p>
    <p>
    Merci de votre commande
    Elle sera transmise au commercant et vous pourrez aller la chercher à l'heure prévue.
    Un récapitulatif sera envoyé à vous ainsi qu'au commercant.
    Le commercant sera aussi informé de notre commande via notre plateforme.
    </p>
<p>
    Nous tenons a vous rappeler que vous n'avez pour l'instant effectué aucun paiement pour cette commande, il faudra régler directement avec le commercant
</p>

    
<script>  resetPanier() </script>
{% endblock %}
