{% extends 'base.html.twig' %}

{% block title %}Hello CartController!
{% endblock %}
 {% block javascripts %}
 <script src="../public/assets/js/panier.js"></script> 
{% endblock %}
{% block body %}

	
    <h1>Valider le panier</h1>

    

{% endblock %}
