{% extends 'header.html.twig' %}

{% block title %}Hello CartController!
{% endblock %}


{% block body %}


	<div class="container-fluid col-5 m-3 d-flex flex-direction: row justify-content-center border" id="panier">

		<p class="titrePanier text-center">Votre Panier chez Nom du shop</p>

		<h2 class="text-center">Panier</h2>
		<script src="../public/assets/js/panier.js"></script>
		<script>
			AfficherPanier();
		</script>
		<div class="container-fluid d-flex justify-content-center">
			<a href="{{ path('cartValidator') }}">
				<button class="btn btn-dark m-3" id="checkout-btn" value="{{ path('cartValidator') }}" onclick="getPanier()">Valider mon Panier</button>
			</a>
			<button class="btn btn-dark m-3" onclick='resetPanier()'>Reset le panier
			</button>
		</div>


	</div>
{% endblock %}
