{% extends 'base.html.twig' %}

{% block title %}PAGE ACCUEIL{% endblock %}


{% block stylesheets %}
<style>
</style>
{% endblock %}

{% block body %}

<section>
</section>

{% endblock %}

{% block javascripts %}

<script></script>

{% endblock %}
