{% extends 'header.html.twig' %}

{% block title %}PAGE ACCUEIL
{% endblock %}

{% block stylesheets %}
	<style></style>
{% endblock %}


{% block body %}
	<section>
		<h2>code postale</h2>
		{{ form_start(form) }}
		{{ form_widget(form) }}
		
		<button class="btn btn-dark" >{{ button_label|default('Save') }}</button>
		{{ form_end(form) }}
	</section>


{% endblock %}
