{% extends 'header.html.twig' %}

{% block title %}Page d'accueil
{% endblock %}

{% block stylesheets %}
	<style></style>
{% endblock %}


{% block body %}
	<section>
		<h2>
			{{ form_start(form) }}
		</h2>
		{{ form_widget(form) }}
		<button class="btn btn-dark">{{ button_label|default('Rechercher') }}</button>
		{{ form_end(form) }}
	</section>


{% endblock %}
