{% extends 'base.html.twig' %}

{% block title %}PAGE ACCUEIL{% endblock %}


{% block stylesheets %}
<style>
</style>
{% endblock %}

{% block body %}

<section>
<h1> Aya Nakamura valide </h1>
<h2> PNL non par contre </h2>
</section>

{% endblock %}

{% block javascripts %}

<script></script>

{% endblock %}