{% extends 'base.html.twig' %}

{% block title %}PAGE inscription{% endblock %}


{% block stylesheets %}
<style>
</style>
{% endblock %}

{% block body %}

<section>
<h1> Page d'inscription </h1>
</section>

{% endblock %}

{% block javascripts %}

<script></script>

{% endblock %}