:root {
    --primary-color: #CE584E;
    --secondary-color:#E4A57D;
    --third-color: #884A65;
    --shadow-color: #BABECC;
    --color-bg: #f4f6f6;
    --font-size: 17px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.img-test {
    object-fit: cover;
    width: 600px;
    height: 600px;
}
/* header css  */
header{
    background-color: rgba(255,255,255,0);
    /* background-color: var(--primary-color); */
    padding: 50px 0px 50px 0px;
    margin-bottom: 0px;
    box-shadow: 0 2px 12px 0 rgba(36,50,66,.075);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 85px;
}

header img {
    width: 100%;
}

/* .logo {
    /* display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100px; 
} */

.nom-header p {
    color: var(--secondary-color);
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 1rem;
}

.nom-header:hover {
    color: white;
}

/* nav {
    max-width: 1600px;
} */

.nav-link {
    color: var(--third-color);
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
}

.nav-link:hover {
    color: var(--primary-color);
}

.marketplace:hover {
    color: white;
}

.navbar-brand {
    max-width: 300px;
}

.fa-shopping-cart {
    color: var(--third-color);
}

.badge {
    color: var(--third-color);
}

p + a {
    font-family: 'Manrope';
}


/* index / slider */
.container-acceuil {
    max-width: 100%;
    height: 90vh;
    background-color:var(--color-bg);
    /* background-image: url(../img/s); */
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
}
.img-hover:hover {
    background-color: var(--primary-color);
}

.transition {
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.img-header {
    width: 60%;
}

.bg-section-1 {
    background-color: var(--third-color);
}

.panel-index {

}
/* .sub-acceuil {
    background: #f8f5f2;
    bottom: -1px;
    bottom: 0;
    clip-path: polygon(100% 100%,0 100%,100% 0,100% 0);
    -webkit-clip-path: polygon(100% 100%,100% 0,100% 0,0 100%);
    position: absolute;
    width: 100%;
    height: 8vw;
    overflow: hidden;
    clip-path: polygon(180% 0, 100% 100%, 100% 200%, 0 100%);
    background: linear-gradient(rgb(255, 192, 57) 0%, rgb(18, 18, 88) 95%);
} */

.container-acceuil h1 {
    font-style: normal;
    font-weight: 200;
    text-align: left;
    max-width: 700px;
    font-size: 2rem;
    line-height: 1.244;
    letter-spacing: 0.405px;
    color: var(--primary-color);
    margin-top: 112px;
    margin-bottom: 172px;
}

.container-acceuil p {
    margin-bottom: 80px;
    transition: all .5s;
    font-size: 20px;
    line-height: 1.5;
    color: var(--primary-color);
    text-align: left;
    
}

#district_Code_Postale {
    box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
    border-radius: 320px;
    width: 100%;
    -webkit-border-radius: 320px;
    -moz-border-radius: 320px;
    -ms-border-radius: 320px;
    -o-border-radius: 320px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

#district_Code_Postale:focus {
    box-shadow:  inset 1px 1px 2px var(--shadow-color), inset -1px -1px 2px  #fff;
    background-color: var(--color-bg);
}

.dev-app img {
    width: 20%;
}


/* Section rechercher par code postal */

.wmp {
    width: 30%;
    max-height: 500px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
    background-color: var(--third-color);
    margin-top: 50px;
    z-index: 20;
    position: relative;
    padding-top: 17%;
}

.img-wmp {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 2px 10px 0 black
}

.text {
    width: 30% !important;
}

.text h3 {
    font-size: 23px;
    line-height: 36px;
}


.container-rechercher {
    background-color: var(--primary-color);
}

.container-rechercher h2 {
    color: var(--secondary-color);
    font-size: 28px;
}

.btn-rechercher {
    background-color: var(--third-color);
    font-weight: bold;
    box-shadow: -5px -5px 20px white,  5px 5px 20px var(--shadow-color);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    border-radius: 320px;
    -webkit-border-radius: 320px;
    -moz-border-radius: 320px;
    -ms-border-radius: 320px;
    -o-border-radius: 320px;;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 300;
    padding: 15px 30px 15px 30px;
    margin-left: 20px;
    color: white;
    -webkit-border-radius: 320px;
    -moz-border-radius: 320px;
    -ms-border-radius: 320px;
    -o-border-radius: 320px;
}

.btn-rechercher:hover {
    color: white;
    background-color: var(--primary-color);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
}

.img-cnc{
    width: 80%;
}




/* Concept section */

.container-concept {
    background-color: var(--primary-color);
}

.container-concept h2{
    color: var(--secondary-color);
    font-size: 28px; 
}

.container-concept p {
    color: white; 
}

.container-concept i {
    color: white; 
}


/* section raisons */

.container-raisons{
    margin-top: 100px;
}

.container-raisons h2 {
    transition: all .5s;
    font-size: 2rem;
    line-height: 1.5;
    color: var(--primary-color);
}

.container-raisons h3 {
    transition: all .5s;
    line-height: 1.5;
    color: var(--primary-color);
}

/* section avantages */

.container-avantages h3 {
    transition: all .5s;
    line-height: 1.5;
    color: var(--primary-color);
}

.container-avantages p {
    transition: all .5s;
    line-height: 1.5;
    font-size: var(--font-size);
    color: var(--third-color);
    text-align: left;
}

.background-vecteur{
    border-radius: 52% 48% 28% 72% / 50% 46% 54% 50%   ;
    -webkit-border-radius: 52% 48% 28% 72% / 50% 46% 54% 50%   ;
    -moz-border-radius: 52% 48% 28% 72% / 50% 46% 54% 50%   ;
    -ms-border-radius: 52% 48% 28% 72% / 50% 46% 54% 50%   ;
    -o-border-radius: 52% 48% 28% 72% / 50% 46% 54% 50%   ;
    background-color: var(--third-color);
}

.background-vecteur1{
    border-radius: 0% 100% 57% 43% / 5% 0% 100% 95%   ;
    -webkit-border-radius: 0% 100% 57% 43% / 5% 0% 100% 95%   ;
    -moz-border-radius: 0% 100% 57% 43% / 5% 0% 100% 95%   ;
    -ms-border-radius: 0% 100% 57% 43% / 5% 0% 100% 95%   ;
    -o-border-radius: 0% 100% 57% 43% / 5% 0% 100% 95%   ;
    background-color: var(--third-color);
}


/* section vendeur */

.container-vendeur {
    margin-top: 200px;
    background-color: var(--color-bg);
    max-height: 700px;
}

.container-vendeur h2 {
    transition: all .5s;
    font-size: 2rem;
    line-height: 1.5;
    color: var(--primary-color);
    font-style: normal;
    font-weight: 200;
    text-align: left;
    max-width: 700px;
    line-height: 1.244;
    letter-spacing: 0.405px;
    margin-bottom: 100px;
}

.container-vendeur p {
    transition: all .5s;
    line-height: 1.5;
    font-size: var(--font-size);
    color: var(--third-color);
    text-align: left;
    max-width: 700px;
}

/* section clients */


.container-client {
    background-color: var(--color-bg);
    max-height: 700px;
}

.container-client h2 {
    transition: all .5s;
    font-size: 2rem;
    line-height: 1.5;
    color: var(--primary-color);
    font-style: normal;
    font-weight: 200;
    text-align: left;
    max-width: 700px;
    line-height: 1.244;
    letter-spacing: 0.405px;
    margin-bottom: 100px;
}

.container-client p {
    transition: all .5s;
    line-height: 1.5;
    font-size: var(--font-size);
    color: var(--third-color);
    text-align: left;
    max-width: 700px;
}

.ajustement-center {
    justify-content: flex-start !important;
    max-width: 700px;
}

.img-container {
    max-height: 600px;
}

.padding-top {
    padding-top: 50px;
}
.padding-bottom {
    padding-bottom: 50px;
}


/* register page  */

/* login in page */

.container-sign-in {
    background-color: var(--secondary-color);
}

.container-sign-in h1{
    color: var(--third-color);
}

.color-label{
    color: var(--third-color);
    font-size: 17px;
    font-weight: 300;
}

.background-sign-in {
    background-color: var(--secondary-color);
}

.btn-sign-in {
    color: var(--third-color);
    border: 2px solid var(--third-color);
    background: white; /* default color */
    background: linear-gradient(to left, white 50%, var(--third-color) 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
    margin:auto; 
    font-size: 20px;   
}

.btn-sign-in:hover {
    color: white;
    background-position: left;
}

.border-form {
    margin: 27px;
    box-shadow:inset 0px 1px 27px 6px var(--shadow-color);
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
    padding: 50px;
    background-color: white;
    width: 400px;
}

.border-form:hover {
    cursor: pointer;
    box-shadow: 0px 0px 11px 4px rgba(186,190,204,0.34);
    transition: 1s ease-in-out;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -ms-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
}

.input-custom input[type=email] {
    border: 2px solid  var(--primary-color);
}



/* inscription page */

.container-inscription {
    background-color: var(--secondary-color);
}

.container-inscription h1{
    color: var(--secondary-color);
}

.color-label{
    color: var(--secondary-color);
    font-size: 17px;
    font-weight: 300;
}

.background-inscription {
    background-color: var(--secondary-color);
}

.btn-inscription {
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    background: white; /* default color */
    background: linear-gradient(to left, white 50%, var(--secondary-color) 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
    margin:auto; 
    font-size: 20px;   
}

.btn-inscription:hover {
    color: white;
    background-position: left;
}

.form-inscription {
    width: 70%;
    margin: 27px;
    box-shadow:inset 0px 1px 20px 0px var(--shadow-color);
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
    padding: 50px;
    background-color: white;
}

.form-inscription:hover {
    cursor: pointer;
    box-shadow: 0px 0px 11px 4px rgba(186,190,204,0.34);
    transition: 1s ease-in-out;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -ms-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
}

.input-custom input[type=email] {
    border: 2px solid  var(--primary-color);
}

/* flex css */
.flex {
    display: flex;
}

.flex-end {
    justify-content: flex-end;
    display: flex;
    align-items: center;
}

.end-start {
    justify-content: flex-end;
    display: flex;
    align-items: flex-start;
}

.space-around {
    display: flex;
    justify-content: space-around;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
}

.flex-center {
    justify-content: center;
    display: flex;
    align-items: center;
}

.flex-evenly {
    display: flex;
    justify-content: space-evenly;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.form-flex form{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}


.align-center {
    display: flex;
    align-items: center;
}

/* alignement text */

.text-center {
    text-align: center;
}

.justify {
    text-align: justify;
}

/* espacement */

.no-padding {
    padding: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.margin-input {
    margin-bottom: 15px;
}

/* taille */

.w--100 {
    width: 100%;
}

.w--60 {
    width: 60%;
}

.h--100 {
    height: 100%;
}

.mh-100 {
    max-height: 80% !important;
}

.h--60 {
    height: 60%;
}


/* footer */

footer {
    background: white;
}

footer h5 {
    line-height: 1.244;
    letter-spacing: 0.405px;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--primary-color);
    font-style: normal;
    font-weight: bold;
}

footer p{
    line-height: 1.5;
    font-size: 17px;
    color: var(--third-color);
    text-align: left;
}

footer a{
    line-height: 1.5;
    font-size: 17px;
    color: var(--third-color);
    text-align: left;
}

footer a:hover{
    color: var(--primary-color);
}


/* page shopkeeper index */

.bg-shop-index {
    background-color: var(--color-bg);
    padding: 30px;
}

.btn-shop {
    color: var(--third-color);
    border: 2px solid var(--third-color);
    background: var(--color-bg); /* default color */
    background: linear-gradient(to left, var(--color-bg) 50%, var(--third-color) 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
    margin:auto; 
    font-size: 20px;   
}

.btn-shop:hover {
    color: white;
    background-position: left;
}

.bg-shop-index h3, label, form, h1, p {
    color: var(--third-color);
}

.bg-shop-img {
    background-color: var(--third-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s ease-in-out;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -ms-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
}

.bg-shop-img:hover {
    background-color: var(--secondary-color);
}

.informations {
    color: var(--third-color);
    border: 2px solid var(--third-color);
    background: white; /* default color */
    background: linear-gradient(to left, white 50%, var(--third-color) 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
    margin:auto; 
    font-size: 20px;
    padding: 14px;  
}

.informations:hover {
    color: white;
    background-position: left;
}

/* shops */

.container-shops {
    background-color: var(--color-bg);
}

.container-shops h2, .container-shops h5 {
    color: var(--primary-color);
}

.title-gestion {
    color: var(--third-color);
}

.tilte-prestations {
    color: white!important;
}

/* mon compte  */

.margin-compte {
    margin-top: 0px;
}
.margin-compte h5{
    color: white!important;
}
/* responsive index */

@media (min-width: 1000px) and (max-width: 1800px) {
    .container-acceuil h1 {
        margin: auto;
        margin-bottom: 100px;
        font-size: 2.5rem;
    }
    .container-acceuil p {
        font-size: 20px;
    }
}


@media (min-width: 650px) and (max-width: 1000px) {
    .btn-rechercher {
        margin-left: 5px;
        font-size: 18px;
        padding: 5px 15px 5px 15px;
    }
    .container-acceuil h1 {
        margin: auto;
        margin-bottom: 100px;
        font-size: 2rem;
    }
    .container-acceuil p {
        font-size: 18px;
    }
}

@media (min-width: 200px) and (max-width: 650px) {
    .btn-rechercher {
        margin-left: 5px;
        font-size: 18px;
        padding: 5px 15px 5px 15px;
    }
    .container-acceuil h1 {
        margin: auto;
        margin-bottom: 100px;
        font-size: 1.5rem;
    }
    .container-acceuil p {
        font-size: 16px;
        padding: 0px 32px 0px 34px;
    }
    .bg-section-1 {
        margin-top: 50px;
    }
    .container-acceuil {
        height: initial;
        padding-top: 50px;
    }
    .h--100 {
        height: initial;
    }
    .container-raisons {
        margin-top: 0px;
        padding-bottom: 0px !important;
    }
    .text {
        width: 100% !important;
        display: flex;
        flex-direction: column;
    }
    .justify-content-around {
        display: flex;
        flex-direction: column;
    }
    .wmp {
        width: 100%;
        height: 100px;
    }
    .container-avantages p{
        font-size: 16px;
    }
    .container-avantages h3 {
        font-size: 20px;
    }
    .container-vendeur {
        height: initial;
        margin-top: 50px;
        padding-left: 2.5rem !important;
        padding-right: 2.5rem !important;
    }
    .container-vendeur h2 {
        font-size: 1.5rem;
        margin-bottom: 50px;
    }
    .container-vendeur p {
        font-size: 16px;
        margin-bottom: 50px;
    }
    .container-client {
        padding-left: 2.5rem !important;
        padding-right: 2.5rem !important;
    }
    .container-client h2 {
        font-size: 1.5rem;
        margin-bottom: 50px;
    }
    .container-client p {
        font-size: 16px;
        margin-bottom: 50px;
    }
    .mh-100 {
        max-height: 100% !important;
    }
    footer p {
        font-size: 16px;
    }
    footer li {
        text-align: left;
    }

    .form-inscription {
        width: 100% !important;  
        margin: 0px;
        padding: 5px 55px;  
    }
    .background-inscription {
        padding: 25px !important;
    }
    .responsive-form {
        display: flex;
        flex-direction: column-reverse;
    }
}



/* se connecter */

@media (min-width: 1350px) and (max-width: 2000px) {
    .border-form {
        width: 400px;
    }
}

@media (min-width: 1000px) and (max-width: 1350px) {
    .border-form {
        width: 350px;
        max-height: 400px;
        padding: 10px;
    }
}

@media (min-width: 200px) and (max-width: 1000px) {
    .border-form {
        width: 300px;
        max-height: 300px;
        padding: 18px;
    }
    .btn-sign-in {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }
}

@media screen and (max-width: 640px) {
    table,
    tbody,
    tr,
    td {
    display: block;
    width: auto!important;
    }
    .task_field {
        width: 100% !important;
    }
  }