{% extends 'base.html.twig' %}

{% block title %}Ajouter un produit{% endblock %}

{% block body %}

<style>

</style>
    <h1>Ajouter un produit</h1>
<div class="container">
    {{ include('product/_form.html.twig') }}

    <a class="btn btn-success" href="{{ path('product_index') }}">Retourner à la liste</a>
</div>
{% endblock %}
