{% extends 'base.html.twig' %}

{% block title %}Modifier mon commerce{% endblock %}

{% block body %}
    <h1>Edit Shop</h1>
<div class="container">
    {{ include('shop/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('shop_index') }}">Retour</a>

    {{ include('shop/_delete_form.html.twig') }}
</div>
{% endblock %}
