{% extends 'base.html.twig' %}

{% block header %}
	<header class="container-fluid p-0 mb-3">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
			<a class="navbar-brand" href="{{path('accueilshopKeeper1')}}">
				Market Place</a>
			<a class="nav-link text-white" href="{{ path('shop_index') }}">Shop(admin)</a>
			<a class="nav-link text-white" href="{{ path('product_index') }}">Product</a>
		</nav>
	</header>
{% endblock %}
