{% extends "base.html.twig" %}
{% block body %}
<div class="container"> <h1> Vous ne nous aurez pas aussi facilement ! </h1>

<img src="https://media.giphy.com/media/kJ1iL1ZQIyibu/source.gif"><p><a href="{{path('accueil')}}">RETOURNER DANS LE DROIT CHEMIN</a></p>
</div>
{% endblock %}