Bonjour cher commercant

 {{name}} a effecctué une commande auprès de votre boutique,

il souhaite aller chercher votre commande à ce jour : {{date}}

Voici la liste des produits qui composent la commmande. (Vous pourrez avoir plus de précisions sur la commande dans votre espace commercant sur votre espace clickncommerce)

{% for product in listePdt %}

  <td>{{ product.product.name }}   {{ product.quantity }}</td>
{% endfor %}

</table>